.header {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #e7edf2;
  box-sizing: border-box;
  position: relative;
  @media (max-width: 768.999px) {
    justify-content: space-between;
  }


  .name {
    min-width: 150px;
    cursor: pointer;
    color: #29292d;
    margin-right: 50px;
    padding: 29px;
    transition: all ease .3s;
    position: relative;

    &:hover {
      color: #6f42c1;
    }

    @media (max-width: 768.999px) {
      margin-right: 0;
    }
  }
}

.dropList {
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .3s ease;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: -2px;
  width: 100%;
  height: 150px;
  cursor: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #e7edf2;
  background-color: #fff;
  box-shadow: 3px 3px 5px 0 #a1a1a1;
}

.dropList div {
  cursor: pointer;
  width: 100%;
  transition: all ease .3s;
  padding: 20px 24px;
  box-sizing: border-box;
  margin: 10px 0;
}

.dropList div:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
}

.dropList div:hover {
  background-color: #292932;

}

.name:hover .dropList {
  overflow: visible;
  transform: scaleY(1);

}

.arrow {
  border: solid #000;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
  position: relative;
  bottom: 3px;
}

.menu-mobile {
  display: none;
  padding: 29px;
  margin-left: 25px;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  @media (max-width: 768.999px) {
    display: flex;
  }
}

.active {
  :nth-child(1) {
    transform: rotate(-45deg) translate(-3px, 7px);
  }

  :nth-child(2) {
    opacity: 0
  }

  :nth-child(3) {
    transform: rotate(45deg) translate(3px, -2px);
  }
}
.solid {
  width: 30px;
  height: 3px;
  background-color: #29292d;
  display: block;
  transition: all ease .5s;
}

.active {
  display: block;
}


.burger-menu {
  display: none;

  @media (max-width: 768.999px) {
    display: block;
    position: relative;
    width: 140px;
    height: 30px;
    color: #60635E;
    text-transform: uppercase;
  }
}

.burger-click-region {
  position: absolute;
  left: 30px;
  width: 40px;
  height: 30px;
  cursor: pointer;
}

.burger-menu-txt {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  cursor: default;
  transition: opacity 200ms ease-out, transform 200ms cubic-bezier(.34, .55, .25, .83);

  .is-open & {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
}

$menu-animation-duration: 400ms;
$menu-animation-timing:   ease-out;

.burger-menu-piece {
  display: block;
  position: absolute;
  width: 40px;
  border-top: 6px solid #C2C2C2;
  transform-origin: 50% 50%;
  transition: transform $menu-animation-duration $menu-animation-timing;

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 12px;
    opacity: 1;
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
  }

  &:nth-child(3) {
    top: 24px;
  }

  .active & {

    &:nth-child(1) {
      animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards;
    }

    &:nth-child(2) {
      opacity: 0;
      transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear $menu-animation-duration / 2;
    }

    &:nth-child(3) {
      animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }

  .closing & {
    &:nth-child(1) {
      animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards;
    }

    &:nth-child(3) {
      animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards;
    }
  }
}

@keyframes burger-open-top {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 12px, 0);
  }
  100% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
}

@keyframes burger-open-bot {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -12px, 0);
  }
  100% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
}

@keyframes burger-close-top {
  0% {
    transform: translate3d(0, 12px, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, 12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes burger-close-bot {
  0% {
    transform: translate3d(0, -12px, 0) rotate(-45deg);
  }
  50% {
    transform: translate3d(0, -12px, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}