.dialogs {
     display: grid;
     grid-template-columns: 2fr 10fr;
 }

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active{
    color: green;
}

.dialog {
    color: white;
}

.messages {
    padding: 10px;
}

.text {
    display: flex;
    margin-left: 10px;
}